:root {
  --dark-blue: #05141F;
  --white: #fff;
  --light-blue: #175887;
  --load-time: 500ms;
}


* {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #E7E7E7;
}

.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main-nav {
  width: 100%;
  height: 100px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  animation: nav-load var(--load-time) ease-in;
  z-index: 100;
}
#nav2 {
  animation: nav-2-load var(--load-time) ease-in;
}
.main-nav__social-icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 150px;
}
.social-icon {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 20px;
  background-color: var(--light-blue);
  transition: all .3s ease-in-out;
  text-decoration: none;
  position: relative;
  color: var(--white);
}
.social-icon:hover > span {
  font-size: 1.1rem;
  padding: 0 15px;
}
.social-icon > span {
  padding: 0;
  color: var(--white);
  font-size: 0;
  transition: all .3s ease-in-out;
}
.gmail {
  user-select: all;
}
.copy-text {
  position: absolute;
  background-color: var(--light-blue);
  bottom: -45px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  font-size: 1.1rem;
  border-radius: 10px;
  z-index: 5;
  display: none;
}

.social-icon-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--dark-blue);
  transition: all .2s ease-in-out;
}

.social-icon-img > img {
  width: 70%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.social-icon-img:hover {
background-color: var(--light-blue);
}
.social-icon-img:hover > img {
  filter: invert(100%) contrast(500%);
}
.nav__open-close-icons {
  position: relative;
  height: 100%;
  display: none;
  align-items: center;
}
.fa-bars {
  display: none;
  font-size: 0px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.fa-xmark {
  font-size: 0rem;
  position: absolute;
  color: var(--light-blue);
  right: 0;
  padding-right: 20px;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.main-nav__sections-container {
  display: flex;
  align-items: center;
  padding-right: 80px;
  gap: 10px;
}
.main-nav__section {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  padding: 10px;
  transition: all .2s ease-in-out;
  border-radius: 5px;
}
#main-nav__section-active {
  border-bottom: 3px solid var(--light-blue);
  background-color: var(--light-blue);
}
#main-nav__section-non-active:hover {
color: var(--light-blue);
}
.nav-bar__extended-menu {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 0px;
  background-color: var(--dark-blue);
  z-index: 10;
  padding: 0px 20px 0px;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
}
.extended-menu__section {
  width: 100%;
  display: none;
  justify-content: space-between;
  text-decoration: none;
  color: var(--white);
  padding: 15px 0;
  font-weight: 700;
}
#extended-menu__section-active {
  color: var(--light-blue);
}


.home__main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 200px);
  margin-top: 200px;
  position: relative;
}
.home__main-content-left {
  width: 830px;
  height: 100%;
  padding-top: 100px;
  padding-left: 145px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: auto;
  left: 0;
}
.hero {
  position: relative;
  margin: 0;
  padding-left: 0;
  text-align: left;
  animation: hero-load var(--load-time) ease-in;
}
.hero__hello {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--dark-blue);
  padding-bottom: 15px;
  padding-left: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 60%;
  transition: all .2s ease-in-out;
}
.hero__hello:hover {
  transform: scale(1.02);
}
.hero__name {
  font-size: 7.5rem;
  font-weight: 700;
  color: var(--dark-blue);
  margin: 0;
  padding-left: 0;
  text-align: left;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all .2s ease-in-out;
  width: 60%
}
.hero__name:hover {
 transform: scale(1.02);
}
.hero__description {
  padding-left: 5px;
  color: var(--dark-blue);
  padding-top: 15px;
  font-size: 1.95rem;
  line-height: 1.4;
  z-index: 2;
  cursor: pointer;
  width: 60%;
  transition: all .2s ease-in-out;
  animation: hero-load var(--load-time) ease-in;
}
.hero__description:hover {
  transform: scale(1.005);
}
.developer-text {
  color: var(--light-blue);
}
.name-svg {
  width: 300px;
  height: 332px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 200px;
  left: auto;
}
#blob2 {
  visibility: hidden;
}
.home__doMoreButtons {
  position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  bottom: 0px;
  padding-bottom: 30px;
  }
  .doMoreButton {
    text-decoration: none;
    letter-spacing: .3px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
  }
  .doMoreButton.one {
    color: var(--white);
    background-color: var(--dark-blue);
  }
  .doMoreButton.one:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px 45px;
  }


  .doMoreButton.two {
    color: var(--white);
    background-color: var(--light-blue);
  }
  .doMoreButton.two:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    color: var(--white);
    padding: 20px 45px;
  }

.home__main-content-right {
  height: 100%;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home__right-img-container {
  position: relative;
  width: 551px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.home__right-img-container::after{
  box-shadow: inset -5px -3px 4px 0 #E7E7E7;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: all .2s ease-in-out;
  animation: home-img-box-shadow-load var(--load-time) ease-in;
}
.home__right-img-container:hover::after{
 transform: scale(1.041);
}
.home__right-img-container:hover > img {
transform: scale(1.04);
}
.home__right-img-container > img {
  z-index: 5;
  width: 100%;
  transition: all .2s ease-in-out;
  animation: img-load var(--load-time) ease-in;
  margin-top: auto;
}
.home__picture-circle {
  width: 533px;
  height: 552px;
  position: absolute;
  z-index: 2;
  top: 70px;
  animation: img-background-load var(--load-time) ease-in;
  transition: all .4s ease-in-out;
}
.home__right-img-container:hover > .home__picture-circle {
  transform: scale(1.01);
  top: 80px;
  }
.picture-svg {
  width: 518px;
  height: 382px;
  position: absolute;
  top: 20px;
  right: 20px;
  animation: img-background-load var(--load-time) ease-in;
  transition: all .3s ease-in-out;
}
.home__right-img-container:hover > .picture-svg {
  transform: scale(1.01);
  }
#blob4 {
  visibility: hidden;
}

.projects {
  width: 100%;
  height: 100vh;
  background-color: #E7E7E7;
}
.projects__main-content {
  height: calc(100% - 160px);
  margin-top: 160px;
  padding-left: 150px;
  width: 100%;
  height: 100%;
  position: relative;
}
.projects__title {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--dark-blue);
  position: relative;
  z-index: 3;
}
.projects-container {
  width: 100%;
  height: 670px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
 overflow-x: auto;
 flex-wrap: nowrap;
 z-index: 5;
 position: relative;
}
.projects-svg {
  position: absolute;
  top: -20px;
  margin-left: 0;
  width: 397px;
  height: 353px;
  fill: var(--white);
}
.projects-container::-webkit-scrollbar {
 height: 13px;
 cursor: pointer;
}
.projects-container::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 4px;
  cursor: pointer;
}
.projects-container::-webkit-scrollbar-track {
  cursor: pointer;
  background-color: #f7f6f6;
}

.project-card {
  height: 92%;
  width: 580px;
  background: var(--dark-blue);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
 margin: auto 30px;
transition: all .12s ease-in-out;
}


.project-card__title {
  color: var(--white);
  width: 85%;
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}
.project-card__img-container {
background-color: #E7E7E7;
width: 85%;
height: 50%;
margin-top: 30px;
border-radius: 10px;
transition: all .3s ease-in-out;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}
.project-card__img-container > img {
  width: 100%;
  height: 100%;
  object-position: center;
  transition: all .3s ease-in-out;
}

.project-card__language {
  color: var(--white);
  width: 85%;
  text-align: left;
  margin-top: 15px;
  font-weight: 500;
  position: relative;
}
#projectDescriptionClose {
position: absolute;
right: 0;
padding: 2px 5px;
border-radius: 5px;
background-color: var(--light-blue);
font-weight: 500;
cursor: pointer;
display: none;
font-size: 1.1rem;
transition: all .2s ease-in-out;
}
#projectDescriptionClose:hover {
  background-color: var(--white);
  color: var(--light-blue);
}
.project-card__description {
  color: var(--white);
  font-size: 1.25rem;
  width: 85%;
  text-align: left;
  margin-top: 25px;
  line-height: 1.4;
  max-height: 30px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  position: relative;
  transition: all .3s ease-in-out;
}
.project-card__description::-webkit-scrollbar {
 width: 6px;
  cursor: pointer;
 }
 .project-card__description::-webkit-scrollbar-thumb {
   background-color: var(--light-blue);
   border-radius: 4px;
   cursor: pointer;
 }
.project-card__description-more {
 color: var(--white);
 padding-top: 5px;
 font-size: 1.2rem;
 font-weight: 500;
 cursor: pointer;
}
.project-card__description-more:hover {
  color: var(--light-blue);
}
.project-card__footer {
  display: flex;
  align-items: center;
  width: 85%;
  gap: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 20px;
}
.project-card__footer > a {
  text-decoration: none;
  color: var(--white);
}
.project-card__footer > a:hover {
  color: var(--light-blue);
}
.projects__view-all {
  position: absolute;
  width: 100%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-decoration: none;
  color: var(--light-blue);
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}
.projects__view-all > i {
  padding-left: 10px;
  font-size: 1.06rem;
  transition: all .2s ease-in-out;
}
.projects__view-all:hover > i {
  padding-left: 15px;
}
.about {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.about__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  position: relative;
}
.about__main-left {
  position: absolute;
width: 1000px;
height: calc(100% - 100px);
padding-left: 150px;
padding-top: 100px;
display: flex;
flex-direction: column;
justify-content: left;
}
.about__h2 {
  font-size: 2.8rem;
  font-weight: 500;
  padding-bottom: 25px;
  z-index: 5;
  cursor: pointer;
  transition: all .2s ease-out;
}
.about__svg {
  position: absolute;
  margin-left: 200px;
  top: 70px;
  width: 321px;
  height: 371px;
}
.about__card {
  height: 550px;
  width: 615px;
  background-color: var(--dark-blue);
  border-radius: 10px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
}
.about__card:hover {
  transform: scale(1.02);
}

.about__card-name {
  color: var(--light-blue);
  width: 85%;
  padding: 40px 0px 25px;
  font-weight: 700;
  font-size: 1.5rem;
}
.about__card-text {
  width: 85%;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 1.5;
  padding-bottom: 15px;
}
.about__card-sub-text {
  width: 85%;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 1.3;
  padding-top: 10px;
}
.about__card-footer {
  width: 85%;
  color: var(--white);
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  margin-top: auto;
  padding-bottom: 25px;
  z-index: 20;
}
.contact-btn {
  text-decoration: none;
  color: var(--dark-blue);
  background-color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 15px 0;
  width: 220px;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all .2s ease-out;
}
.contact-btn:hover {
  width: 240px;
}
.about__main-right {
  height: 100%;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about__img-container {
  width: 495px;
  height: 405px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.about__img-container:hover .about__img {
transform: scale(1.03);
transform: translateY(-10px);
}
.about__img-container:hover .about__blue-svg {
  transform: scale(.98);
  }
.about__img {
  z-index: 5;
  width: 100%;
  transition: all .2s ease-in-out;
  animation: img-load var(--load-time) ease-in;
}
.about__smaller-screen-svg {
  display: none;
}
.about__blue-svg {
  position: absolute;
  width: 512px;
  height: 409px;
  left: -35px;
  top: -40px;
  transition: all .4s ease-in-out;
}

/* ANIMATIONS ---- */
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes nav-2-load {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes home-img-box-shadow-load {
  0% {
    box-shadow: none;
  }
  99% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset -5px -3px 4px 0 #E7E7E7;
  }
}
@keyframes hero-load {
  0% {
    transform: translatex(-100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes img-load {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes img-background-load {
  0% {
    transform: translatex(100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
/* ANIMATIONS END---- */
@media screen and (max-width: 1440px) and (max-height: 899.98px) {
  .home__main-content {
    height: calc(100% - 150px);
    margin-top: 150px;
  }
  .main-nav {
    height: 75px;
  }
  .nav-bar__extended-menu {
    top: 75px;
  }
  .home__main-content-left {
    width: 830px;
    height: 100%;
    padding-top: 0px;
    padding-left: 145px;
  }
  .hero__hello {
    font-size: 3.5rem;
  }
  .hero__name {
    font-size: 6.5rem;
  }
  .hero__description {
    font-size: 1.3rem;
  }
  .name-svg {
    width: 270px;
    height: 302px;
    margin-right: 70px;
  }
    .doMoreButton {
      font-size: 1.2rem;
    }
    .home__right-img-container {
      width: 431px;
      height: 494px;
    }
    .home__picture-circle {
      width: 413px;
      height: 432px;
      top: 70px;
    }
    .picture-svg {
      width: 398px;
      height: 262px;
      top: 30px;
    }
    .projects__main-content {
      height: calc(100% - 100px);
      margin-top: 110px;
    }
    .projects__title {
      font-size: 2.4rem;
    }
    .projects-container {
      width: 100%;
      height: 550px;
      margin-top: 10px;
    }

    .project-card {
      height: 510px;
      width: 500px;
     margin: auto 20px;
    }
    .project-card__title {
      margin-top: 30px;
      font-size: 1.35rem;
    }
    .project-card__language {
    font-size: .95rem;
    }

    .project-card__description {
      font-size: 1.1rem;
      margin-top: 20px;
    }
    .project-card__description-more {
     font-size: 1.1rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      font-size: 1.3rem;
    }
    .projects__view-all {
      font-size: 1.25rem;
    }
    .about__main {
      padding-top: 50px;
    }
    .about__main-left {
    height: calc(100% - 60px);
    padding-top: 60px;
    }

    .about__h2 {
      font-size: 2.2rem;
    }
    .about__svg {
      width: 291px;
      height: 341px;
      top: 30px;
    }
    .about__card {
      height: 500px;
      width: 525px;
    }
    .about__card-name {
      font-size: 1.3rem;
    }
    .about__card-text {
      font-size: 1.2rem;
    }
    .about__card-sub-text {
      font-size: 1.2rem;
    }
    .contact-btn {
      padding: 15px 0;
      width: 180px;
      font-size: 1.3rem;
    }
    .contact-btn:hover {
      width: 200px;
    }
    .about__img-container {
      width: 445px;
      height: 355px;
    }
    .about__blue-svg {
      width: 462px;
      height: 359px;
    }
}
@media screen and (min-width: 1440px) and (max-height: 899.98px) {
  .home__main-content {
    height: calc(100% - 150px);
    margin-top: 150px;
  }
  .main-nav {
    height: 75px;
  }
  .nav-bar__extended-menu {
    top: 75px;
  }
  .home__main-content-left {
    width: 830px;
    height: 100%;
    padding-top: 0px;
    padding-left: 145px;
  }
  .hero__hello {
    font-size: 3.5rem;
  }
  .hero__name {
    font-size: 6.5rem;
  }
  .hero__description {
    font-size: 1.3rem;
  }
  .name-svg {
    width: 270px;
    height: 302px;
    margin-right: 70px;
  }
    .doMoreButton {
      font-size: 1.2rem;
    }
    .home__right-img-container {
      width: 431px;
      height: 494px;
    }
    .home__picture-circle {
      width: 413px;
      height: 432px;
      top: 70px;
    }
    .picture-svg {
      width: 398px;
      height: 262px;
      top: 30px;
    }
    .projects__main-content {
      height: calc(100% - 100px);
      margin-top: 110px;
    }
    .projects__title {
      font-size: 2.4rem;
    }
    .projects-container {
      width: 100%;
      height: 550px;
      margin-top: 10px;
    }

    .project-card {
      height: 510px;
      width: 500px;
     margin: auto 20px;
    }
    .project-card__title {
      margin-top: 30px;
      font-size: 1.35rem;
    }
    .project-card__language {
    font-size: .95rem;
    }

    .project-card__description {
      font-size: 1.1rem;
      margin-top: 20px;
    }
    .project-card__description-more {
     font-size: 1.1rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      font-size: 1.3rem;
    }
    .projects__view-all {
      font-size: 1.25rem;
    }
    .about__main {
      padding-top: 50px;
    }
    .about__main-left {
    height: calc(100% - 60px);
    padding-top: 60px;
    }

    .about__h2 {
      font-size: 2.2rem;
    }
    .about__svg {
      width: 291px;
      height: 341px;
      top: 30px;
    }
    .about__card {
      height: 500px;
      width: 525px;
    }
    .about__card-name {
      font-size: 1.3rem;
    }
    .about__card-text {
      font-size: 1.2rem;
    }
    .about__card-sub-text {
      font-size: 1.2rem;
    }
    .contact-btn {
      padding: 15px 0;
      width: 180px;
      font-size: 1.3rem;
    }
    .contact-btn:hover {
      width: 200px;
    }
    .about__img-container {
      width: 445px;
      height: 355px;
    }
    .about__blue-svg {
      width: 462px;
      height: 359px;
    }
}
@media screen and (max-width: 1160px) and (max-height: 899.98px) {
  .main-nav__social-icons-container {
    padding-left: 90px;
  }
  .home__main-content-left {
    padding-left: 90px;
  }
  
  .hero__hello {
    font-size: 3.2rem;
  }
  .hero__name {
    font-size: 6.2rem;
  }
  .hero__description {
    font-size: 1.25rem;
  }
  .name-svg {
    width: 260px;
    height: 292px;
    margin-right: 125px;
  }
    .doMoreButton {
      font-size: 1.1rem;
    }
    .home__right-img-container {
      width: 411px;
      height: 474px;
    }
    .home__picture-circle {
      width: 393px;
      height: 412px;
      top: 70px;
    }
    .picture-svg {
      width: 378px;
      height: 242px;
      top: 35px;
    }
    .projects__main-content {
      padding-left: 90px;
    }
    .about__main-left {
      padding-left: 90px;
    }
    .about__h2 {
      font-size: 2.2rem;
    }
    .about__svg {
      width: 281px;
      height: 331px;
      top: 40px;
    left: -20px;
    }
    .about__card {
      height: 500px;
      width: 505px;
    }
    .about__card-name {
      font-size: 1.3rem;
    }
    .about__card-text {
      font-size: 1.1rem;
    }
    .about__card-sub-text {
      font-size: 1.1rem;
    }
    .contact-btn {
      padding: 15px 0;
      width: 180px;
      font-size: 1.3rem;
    }
    .contact-btn:hover {
      width: 200px;
    }
    .about__img-container {
      width: 385px;
      height: 295px;
    }
    .about__blue-svg {
      width: 402px;
      height: 299px;
      left: -25px;
      top: -35px;
    }
}
@media screen and (max-width: 1024px) and (max-height: 899.98px) {
  .home__main-content {
    height: calc(100% - 120px);
    margin-top: 120px;
  }
  .home__main-content-left {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-left: 0px;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .hero {
    text-align: center;
  }
  .hero__hello {
    font-size: 2.7rem;
    padding-bottom: 8px;
    padding-left: 0px;
    width:100%;
  }
  .hero__name {
    font-size: 5.1rem;
    text-align: center;
    width: 100%
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
    width: 100%;
    text-align: center;
  }
  .name-svg {
    width: 230px;
    height: 262px;
    top: -20px;
    right: -160px;
  }
  .home__main-content-right {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home__right-img-container {
    position: relative;
    width: 381px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .home__picture-circle {
    width: 373px;
    height: 392px;
    position: absolute;
    z-index: 2;
    top: 75px;
  }
  .picture-svg {
    display: none;
  }
  .home__doMoreButtons {
      gap: 50px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1.25rem;
      padding: 20px 30px;
    }
    .doMoreButton.one:hover {
      padding: 20px 35px;
    }
    .doMoreButton.two:hover {
      padding: 20px 35px;
    }
    .main-nav__social-icons-container {
      padding-left: 45px;
    }
    .social-icon {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 20px;
    }
    .social-icon:hover > span {
      font-size: .9rem;
      padding: 0 8px;
    }
    
    .social-icon-img {
      width: 40px;
      height: 40px;
    }
    .main-nav__sections-container {
      padding-right: 35px;
      gap: 8px;
    }
    .main-nav__section {
      font-size: 1.4rem;
    }
    .projects__main-content {
      padding-left: 40px;
    }
    .projects-svg {
      position: absolute;
      top: -20px;
      margin-left: 0;
      width: 357px;
      height: 293px;
    }
    .projects__title {
      font-size: 2.2rem;
    }
    .about {
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .about__main-left {
    padding-left: 0px;
    padding-top: 60px;
    align-items: center;
    width: 100%;
    }
    .about__h2 {
      font-size: 2.5rem;
    }
    .about__svg {
    display: none;
    }
    .about__card {
      height: 550px;
      width: 540px;
    }
    
    .about__card-name {
      font-size: 1.4rem;
    }
    .about__card-text {
      font-size: 1.15rem;
    }
    .about__card-sub-text {
      font-size: 1.15rem;
    }
    .about__card-footer {
      font-size: 1.1rem;
    }
    .contact-btn {
      font-size: 1.6rem;
      padding: 15px 0;
      width: 220px;
      margin-top: 25px;
      z-index: 10;
    }
    .contact-btn:hover {
      width: 240px;
    }
    .about__img-container {
  width: 435px;
  height: 345px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.about__img-container:hover .about__img {
transform: scale(1.03);
transform: translateY(-10px);
}
.about__img-container:hover .about__blue-svg {
  transform: scale(.98) rotate(110deg);
  }
.about__img {
  display: none;
}
.about__blue-svg {
  position: absolute;
  width: 402px;
  height: 299px;
  left: auto;
  right: -30px;
  top: 60px;
  transition: all .4s ease-in-out;
  transform: rotate(110deg);
}
.about__smaller-screen-svg {
  display: block;
  position: absolute;
  width: 382px;
  height: 279px;
  left: 50px;
  top: 50px;
  transform: rotate(110deg);
  fill: white;
}
.about__smaller-screen-svg-two {
  transform: rotate(180deg);
}
}
@media screen and (max-width: 915px) and (max-height: 899.98px) {
  .about {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .about__blue-svg {
    position: absolute;
    width: 382px;
    height: 279px;
    left: auto;
    right: -70px;
    top: 90px;
    transition: all .4s ease-in-out;
    transform: rotate(110deg);
  }
  .about__smaller-screen-svg {
    display: block;
    position: absolute;
    width: 372px;
    height: 269px;
    left: 0px;
    top: 70px;
    transform: rotate(110deg);
    fill: white;
  }

}
@media screen and (max-width: 768px) and (max-height: 899.98px)  {
  .main-nav__social-icons-container {
    padding-left: 20px;
  }
  .social-icon {
    height: 35px;
  }
  .social-icon:hover > span {
    font-size: 0rem;
    padding: 0 0px;
  }
  
  .social-icon-img {
    width: 35px;
    height: 35px;
  }
  .main-nav__sections-container {
    padding-right: 15px;
    gap: 5px;
  }
  .main-nav__section {
    font-size: 1.25rem;
  }
    .projects__main-content {
      padding-left: 10px;
    }
    .projects__title {
      font-size: 2.3rem;
      text-align: center;
    }
    .projects-container {
      margin-top: 20px;
      gap: 10px;
    }
    .projects-svg {
      top: 0px;
      width: 397px;
      height: 333px;
    }
    .project-card {
      width: 480px;
      margin: auto 10px;
    }
    .projects__view-all {
      font-size: 1.35rem;
    }
    .projects__view-all > i {
      padding-left: 10px;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
    }
    .projects__view-all:hover > i {
      padding-left: 15px;
    }
    .about {
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .about__card {
      height: 550px;
      width: 490px;
    }
    
    .about__card-name {
      font-size: 1.4rem;
    }
    .about__card-text {
      font-size: 1.15rem;
    }
    .about__card-sub-text {
      font-size: 1.15rem;
    }
    .about__card-footer {
      font-size: 1.1rem;
    }
    .contact-btn {
      font-size: 1.5rem;
      padding: 15px 0;
      width: 200px;
      margin-top: 25px;
      z-index: 10;
    }
    .contact-btn:hover {
      width: 220px;
    }
    .about__blue-svg {
      position: absolute;
      width: 382px;
      height: 279px;
      left: auto;
      right: -90px;
      top: 70px;
      transition: all .4s ease-in-out;
      transform: rotate(110deg);
    }
    .about__smaller-screen-svg {
      display: block;
      position: absolute;
      width: 362px;
      height: 259px;
      left: -80px;
      top: 70px;
      transform: rotate(110deg);
      fill: white;
    }
}
@media screen and (max-width: 560px) and (max-height: 899.98px) {
  .main-nav__sections-container {
    display: none;
  }
  .nav__open-close-icons  {
    display: flex;
  }
  .fa-bars {
    color: var(--white);
    font-size: 1.9rem;
    padding-right: 20px;
  }
  .hero__hello {
    font-size: 2.6rem;
  }
  .hero__name {
    font-size: 5rem;
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.1rem;
  }
  .name-svg {
    width: 230px;
    height: 262px;
    top: -35px;
  }
  .home__right-img-container {
    width: 381px;
    height: 444px;
  }
  .home__picture-circle {
    width: 373px;
    height: 392px;
  }
  .home__right-img-container::after{
    box-shadow: inset -1px -3px 4px 0 #E7E7E7;
  }
  .home__doMoreButtons {
      gap: 30px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1rem;
      padding: 20px 25px;
    }
    .projects-container {
      margin-top: 0px;
      gap: 10px;
      height: 580px;
    }
    .projects-svg {
      top: 0px;
      width: 397px;
      height: 333px;
    }
    .project-card {
      width: 400px;
      height: 520px;
      margin: auto 10px;
    }
    .project-card__title {
      color: var(--white);
      width: 85%;
      margin-top: 30px;
      font-size: 1.3rem;
    }
    .project-card__img-container {
    margin-top: 20px;
    }
    .project-card__description {
      font-size: 1.1rem;
    }
    .project-card__description-more {
     font-size: 1.1rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      gap: 20px;
      font-size: 1.2rem;
    }
    .projects__view-all {
      font-size: 1.35rem;
    }
    .projects__view-all > i {
      padding-left: 10px;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
    }
    .projects__view-all:hover > i {
      padding-left: 15px;
    }
    .about__main-left {
      height: 100%;
    }
    .about__h2 {
      font-size: 1.7rem;
    }
    .about__card {
      height: 530px;
      width: 93%;
    }
    .about__card-name {
      font-size: 1.2rem;
      padding-top: 20px;
      width: 90%;
    }
    .about__card-text {
      font-size: 1.05rem;
      width: 90%;
    }
    .about__card-sub-text {
      font-size: 1rem;
      width: 90%;
    }
    .about__card-footer {
      font-size: 1.05rem;
      line-height: 1.3;
      width: 90%;
    }
    .contact-btn {
      padding: 15px 0;
      width: 240px;
      font-size: 1.35rem;
      margin-bottom: 20px;
    }
    .contact-btn:hover {
      width: 260px;
    }
    .about__smaller-screen-svg {
      display: block;
      position: absolute;
      width: 362px;
      height: 259px;
      left: -150px;
      top: 70px;
      transform: rotate(110deg);
    }
  
}
@media screen and (max-width: 436px) and (max-height: 899.98px) {
  .hero__hello {
    font-size: 2.2rem;
  }
  .hero__name {
    font-size: 3.8rem;
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.1rem;
  }
  .name-svg {
    width: 190px;
    height: 222px;
    top: -20px;
  }
  .home__right-img-container {
    width: 291px;
    height: 354px;
  }
  .home__picture-circle {
    width: 283px;
    height: 302px;
  }
  .home__right-img-container::after{
    box-shadow: inset -1px -3px 4px 0 #E7E7E7;
  }
  .home__doMoreButtons {
      gap: 20px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1rem;
      padding: 15px 10px;
      text-align: center;
    }
    .doMoreButton:hover {
      padding: 15px 10px;
    }
    .projects-container {
      height: 550px;
    }
    .projects__title {
      font-size: 1.75rem;
    }
    .projects-svg {
      top: 0px;
      width: 307px;
      height: 243px;
    }
    .project-card {
      width: 280px;
      height: 480px;
      margin: auto 10px;
    }
    .project-card__title {
      color: var(--white);
      width: 85%;
      margin-top: 30px;
      font-size: 1rem;
    }
    .project-card__img-container {
    margin-top: 20px;
    }
    .project-card__language {
      font-size: .8rem;
    }
    .project-card__description {
      font-size: .9rem;
      margin-top: 10px;
    }
    #projectDescriptionClose {
      top: 0;
      right: 0;
      padding: 2px 4px;
      font-size: .8rem;
      }
    .project-card__description-more {
     font-size: .9rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      gap: 20px;
      font-size: .9rem;
    }
    .projects__view-all {
      font-size: 1.35rem;
    }
    .projects__view-all > i {
      padding-left: 10px;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
    }
    .projects__view-all:hover > i {
      padding-left: 15px;
    }
}
@media screen and (max-width: 1440px) and (min-height: 900px) {
  .home__main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 200px);
    margin-top: 200px;
  }
  .home__main-content-left {
    width: 830px;
    height: 100%;
    padding-top: 100px;
    padding-left: 145px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: auto;
    left: 0;
  }
  .hero__hello {
    font-size: 4.2rem;
    padding-left: 5px;
  }
  .hero__name {
    font-size: 7.2rem;
  }
  .hero__description {
    padding-left: 5px;
    font-size: 1.65rem;
  }
  .name-svg {
    width: 280px;
    height: 312px;
  }
    .doMoreButton {
      font-size: 1.3rem;
    }
    .home__right-img-container {
      width: 39vw;
      height: calc(39vw + 63px);
    }
    .home__picture-circle {
      width: calc(39vw - 18px);
      height: calc(39vw + 1px);
      top: 70px;
    }
    .picture-svg {
      width: calc(39vw - 33px);
      height: calc(39vw - 169px);
      top: 20px;
    }
    .about__h2 {
      font-size: 2.55rem;
    }
    .about__svg {
      width: 291px;
      height: 341px;
    }
    .about__card {
      height: 550px;
      width: 555px;
    }
    .about__card-name {
      font-size: 1.4rem;
    }
    .about__card-text {
      font-size: 1.3rem;
    }
    .about__card-sub-text {
      font-size: 1.3rem;
    }
    .about__card-footer {
      font-size: 1rem;
    }
    .contact-btn {
      padding: 15px 0;
      width: 200px;
    }
    .contact-btn:hover {
      width: 220px;
    }
    .about__img-container {
      width: 445px;
      height: 355px;
    }
    .about__blue-svg {
      width: 462px;
      height: 359px;
    }
}
@media screen and (max-width: 1300px) and (min-height: 900px) {
  .main-nav__social-icons-container {
    padding-left: 100px;
  }
  .home__main-content-left {
    padding-left: 95px;
  }
  .home__right-img-container {
    width: clamp(470px, 40vw, 700px);
    height: clamp(533px,calc(40vw + 63px), 700px);
  }
  .home__picture-circle {
    width: clamp(452px,calc(40vw - 18px), 700px);
    height: clamp(471px,calc(40vw + 1px), 700px);
    top: 70px;
  }
  .picture-svg {
    width: clamp(437px,calc(40vw - 33px), 700px);
    height: clamp(301px,calc(40vw - 169px), 700px);
    top: 40px;
  }
  .hero__hello {
    font-size: calc(3rem + 1vw);
    padding-left: 5px;
  }
  .hero__name {
    font-size: calc(6rem + 1vw);
  }
  .hero__description {
    padding-left: 5px;
    font-size: 1.45rem;
  }
  .name-svg {
    width: 250px;
    height: 282px;
    right: 300px;
  }
  .doMoreButton {
    font-size: 1.2rem;
  }
  .projects__main-content {
    padding-left: 100px;
  }
  .about__main-left {
  padding-left: 100px;
  }
  .about__h2 {
    font-size: 2.4rem;
  }
  .about__svg {
    width: 281px;
    height: 331px;
    margin-left: 150px;
  }
  .about__card {
    height: 550px;
    width: 525px;
  }
  .about__card-name {
    font-size: 1.3rem;
  }
  .about__card-text {
    font-size: 1.15rem;
  }
  .about__card-sub-text {
    font-size: 1.15rem;
  }
  .about__card-footer {
    font-size: 1rem;
  }
  .contact-btn {
    padding: 15px 0;
    width: 190px;
    font-size: 1.35rem;
  }
  .contact-btn:hover {
    width: 210px;
  }
  .about__img-container {
    width: 435px;
    height: 345px;
  }
  .about__blue-svg {
    width: 432px;
    height: 329px;
    left: -15px;
    top: -20px;
  }
}
@media screen and (max-width: 1160px) and (min-height: 900px) {
  .hero__hello {
    font-size: calc(2.7rem + 1vw);
    padding-left: 5px;
  }
  .hero__name {
    font-size: calc(5.7rem + 1vw);
  }
  .hero__description {
    padding-left: 5px;
    font-size: 1.25rem;
  }
  .doMoreButton {
    font-size: 1.1rem;
  }
  .about__h2 {
    font-size: 2.3rem;
  }
  .about__svg {
    width: 271px;
    height: 321px;
    margin-left: 130px;
  }
  .about__card {
    height: 550px;
    width: 515px;
  }
  .about__card-name {
    font-size: 1.3rem;
  }
  .about__card-text {
    font-size: 1.15rem;
  }
  .about__card-sub-text {
    font-size: 1.15rem;
  }
  .about__card-footer {
    font-size: 1rem;
  }
  .contact-btn {
    padding: 15px 0;
    width: 190px;
    font-size: 1.35rem;
  }
  .contact-btn:hover {
    width: 210px;
  }
  .about__img-container {
    width: 415px;
    height: 325px;
  }
  .about__blue-svg {
    width: 412px;
    height: 309px;
    left: -10px;
    top: -20px;
  }
}
@media screen and (max-width: 1024px) and (min-height: 900px) {
  .home__main-content-left {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-left: 0px;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .hero {
    text-align: center;
  }
  .hero__hello {
    font-size: 2.9rem;
    padding-bottom: 8px;
    padding-left: 0px;
    width:100%;
  }
  .hero__name {
    font-size: 5.4rem;
    text-align: center;
    width: 100%
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
    width: 100%;
    text-align: center;
  }
  .name-svg {
    width: 240px;
    height: 272px;
    top: -60px;
    right: -50px;
  }
  .home__main-content-right {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home__right-img-container {
    position: relative;
    width: 401px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .home__picture-circle {
    width: 393px;
    height: 412px;
    position: absolute;
    z-index: 2;
    top: 75px;
  }
  .picture-svg {
    display: none;
  }
  .home__doMoreButtons {
      gap: 50px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1.25rem;
      padding: 20px 30px;
    }
    .doMoreButton.one:hover {
      padding: 20px 35px;
    }
    .doMoreButton.two:hover {
      padding: 20px 35px;
    }
    .main-nav__social-icons-container {
      padding-left: 45px;
    }
    .social-icon {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 20px;
    }
    .social-icon:hover > span {
      font-size: .9rem;
      padding: 0 8px;
    }
    
    .social-icon-img {
      width: 40px;
      height: 40px;
    }
    .main-nav__sections-container {
      padding-right: 35px;
      gap: 8px;
    }
    .main-nav__section {
      font-size: 1.4rem;
    }
    .projects-svg {
      position: absolute;
      top: -40px;
      margin-left: 0;
      width: 377px;
      height: 313px;
    }
    .about {
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .about__main-left {
    padding-left: 0px;
    padding-top: 40px;
    align-items: center;
    width: 100%;
    }
    .about__h2 {
      font-size: 2.6rem;
    }
    .about__svg {
    margin-left: 0;
    left: 200px;
    top: 30px;
    transform: rotate(300deg);
    display: none;
    }
    .about__card {
      height: 550px;
      width: 560px;
    }
    
    .about__card-name {
      font-size: 1.4rem;
    }
    .about__card-text {
      font-size: 1.3rem;
    }
    .about__card-sub-text {
      font-size: 1.3rem;
    }
    .about__card-footer {
      font-size: 1.1rem;
    }
    .contact-btn {
      font-size: 1.6rem;
      padding: 15px 0;
      width: 220px;
      margin-top: 25px;
      z-index: 10;
    }
    .contact-btn:hover {
      width: 240px;
    }
    .about__img-container {
  width: 435px;
  height: 345px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.about__img-container:hover .about__img {
transform: scale(1.03);
transform: translateY(-10px);
}
.about__img-container:hover .about__blue-svg {
  transform: scale(.98) rotate(110deg);
  }
.about__img {
  z-index: 5;
  width: 100%;
  transition: all .2s ease-in-out;
  animation: img-load var(--load-time) ease-in;
  display: none;
}
.about__blue-svg {
  position: absolute;
  width: 402px;
  height: 299px;
  left: auto;
  right: -30px;
  top: -20px;
  transition: all .4s ease-in-out;
  transform: rotate(110deg);
}
.about__smaller-screen-svg {
  display: block;
  position: absolute;
  width: 382px;
  height: 279px;
  left: 50px;
  top: 50px;
  transform: rotate(110deg);
  fill: white;
}
.about__smaller-screen-svg-two {
  transform: rotate(180deg);
}
}
@media screen and (max-width: 915px) and (min-height: 900px) {
  .about {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .about__smaller-screen-svg {
    display: block;
    position: absolute;
    width: 372px;
    height: 269px;
    left: 10px;
    top: 70px;
    transform: rotate(110deg);
  }
  .about__blue-svg {
    right: -80px;
    top: -30px;
  }
}
@media screen and (max-width: 768px) and (min-height: 900px)  {
  .main-nav__social-icons-container {
    padding-left: 20px;
  }
  .social-icon {
    height: 35px;
  }
  .social-icon:hover > span {
    font-size: 0rem;
    padding: 0 0px;
  }
  
  .social-icon-img {
    width: 35px;
    height: 35px;
  }
  .main-nav__sections-container {
    padding-right: 15px;
    gap: 5px;
  }
  .main-nav__section {
    font-size: 1.25rem;
  }
  .hero__hello {
    font-size: 2.9rem;
  }
  .hero__name {
    font-size: 5.3rem;
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.2rem;
  }
  .name-svg {
    width: 250px;
    height: 282px;
    top: -50px;
    right: -50px;
  }
  .home__right-img-container {
    width: 441px;
    height: 504px;
  }
  .home__right-img-container::after{
    box-shadow: inset -3px -3px 4px 0 #E7E7E7;
  }
  .home__picture-circle {
    width: 433px;
    height: 452px;
  }
  .home__doMoreButtons {
      gap: 55px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1.15rem;
      padding: 20px 30px;
    }
    .projects__main-content {
      margin-top: 135px;
      padding-left: 10px;
    }
    .projects__title {
      font-size: 2.3rem;
      text-align: center;
    }
    .projects-container {
      margin-top: 20px;
      gap: 10px;
    }
    .projects-svg {
      top: 0px;
      width: 397px;
      height: 333px;
    }
    .project-card {
      width: 520px;
      margin: auto 10px;
    }
    .project-card__title {
      color: var(--white);
      width: 85%;
      margin-top: 30px;
      font-size: 1.35rem;
    }
    .project-card__img-container {
    margin-top: 20px;
    }
    .project-card__description {
      font-size: 1.2rem;
      overflow-x: hidden;
  overflow-y: scroll;
    }
    .project-card__description-more {
     font-size: 1.15rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      gap: 20px;
      font-size: 1.35rem;
    }
    .projects__view-all {
      font-size: 1.35rem;
    }
    .projects__view-all > i {
      padding-left: 10px;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
    }
    .projects__view-all:hover > i {
      padding-left: 15px;
    }
    .about {
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .about__card {
      height: 550px;
      width: 525px;
    }
    .about__card-name {
      font-size: 1.4rem;
    }
    .about__card-text {
      font-size: 1.23rem;
    }
    .about__card-sub-text {
      font-size: 1.23rem;
    }
    .about__card-footer {
      font-size: 1.2rem;
    }
    .contact-btn {
      padding: 15px 0;
      width: 190px;
      font-size: 1.35rem;
    }
    .contact-btn:hover {
      width: 210px;
    }
    .about__smaller-screen-svg {
      display: block;
      position: absolute;
      width: 372px;
      height: 269px;
      left: -50px;
      top: 70px;
      transform: rotate(110deg);
    }
    .about__blue-svg {
      right: -90px;
      top: -50px;
    }
}
@media screen and (max-width: 560px) and (min-height: 900px) {
  .main-nav__sections-container {
    display: none;
  }
  .nav__open-close-icons  {
    display: flex;
  }
  .fa-bars {
    color: var(--white);
    font-size: 1.9rem;
    padding-right: 20px;
  }
  .hero__hello {
    font-size: 2.6rem;
  }
  .hero__name {
    font-size: 5rem;
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.1rem;
  }
  .name-svg {
    width: 230px;
    height: 262px;
    top: -35px;
    right: -50px;
  }
  .home__right-img-container {
    width: 381px;
    height: 444px;
  }
  .home__picture-circle {
    width: 373px;
    height: 392px;
  }
  .home__right-img-container::after{
    box-shadow: inset -1px -3px 4px 0 #E7E7E7;
  }
  .home__doMoreButtons {
      gap: 30px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1rem;
      padding: 20px 25px;
    }
    .projects-container {
      margin-top: 0px;
      gap: 10px;
      height: 580px;
    }
    .projects-svg {
      top: 0px;
      width: 397px;
      height: 333px;
    }
    .project-card {
      width: 400px;
      height: 520px;
      margin: auto 10px;
    }
    .project-card__title {
      color: var(--white);
      width: 85%;
      margin-top: 30px;
      font-size: 1.3rem;
    }
    .project-card__img-container {
    margin-top: 20px;
    }
    .project-card__description {
      font-size: 1.1rem;
    }
    .project-card__description-more {
     font-size: 1.1rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      gap: 20px;
      font-size: 1.2rem;
    }
    .projects__view-all {
      font-size: 1.35rem;
    }
    .projects__view-all > i {
      padding-left: 10px;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
    }
    .projects__view-all:hover > i {
      padding-left: 15px;
    }
    .about__card {
      height: 600px;
      width: 400px;
    }
    .about__card-name {
      font-size: 1.4rem;
    }
    .about__card-text {
      font-size: 1.15rem;
    }
    .about__card-sub-text {
      font-size: 1.15rem;
    }
    .about__card-footer {
      font-size: 1.2rem;
    }
    .contact-btn {
      padding: 15px 0;
      width: 190px;
      font-size: 1.35rem;
    }
    .contact-btn:hover {
      width: 210px;
    }
    .about__smaller-screen-svg {
      display: block;
      position: absolute;
      width: 362px;
      height: 259px;
      left: -80px;
      top: 70px;
      transform: rotate(110deg);
    }
    .about__blue-svg {
      right: -150px;
      top: 70px;
      width: 362px;
      height: 259px;
    }
}
@media screen and (max-width: 436px) and (min-height: 900px) {
  .hero__hello {
    font-size: 2.3rem;
  }
  .hero__name {
    font-size: 4rem;
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.1rem;
  }
  .name-svg {
    width: 210px;
    height: 242px;
    top: -35px;
    right: -40px;
  }
  .home__right-img-container {
    width: 301px;
    height: 364px;
  }
  .home__picture-circle {
    width: 293px;
    height: 312px;
  }
  .home__right-img-container::after{
    box-shadow: inset -1px -3px 4px 0 #E7E7E7;
  }
  .home__doMoreButtons {
      gap: 30px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1rem;
      padding: 15px 10px;
      text-align: center;
    }
    .doMoreButton:hover {
      padding: 15px 10px;
    }
    .projects-container {
      height: 550px;
    }
    .projects__title {
      font-size: 1.75rem;
    }
    .projects-svg {
      top: 0px;
      width: 307px;
      height: 243px;
    }
    .project-card {
      width: 280px;
      height: 480px;
      margin: auto 10px;
    }
    .project-card__title {
      color: var(--white);
      width: 85%;
      margin-top: 30px;
      font-size: 1rem;
    }
    .project-card__img-container {
    margin-top: 20px;
    }
    .project-card__language {
      font-size: .8rem;
    }
    .project-card__description {
      font-size: .9rem;
      margin-top: 10px;
    }
    #projectDescriptionClose {
      top: 0;
      right: 0;
      padding: 2px 4px;
      font-size: .8rem;
      }
    .project-card__description-more {
     font-size: .9rem;
    }
    .project-card__description-more:hover {
      color: var(--light-blue);
    }
    .project-card__footer {
      gap: 20px;
      font-size: .9rem;
    }
    .projects__view-all {
      font-size: 1.35rem;
    }
    .projects__view-all > i {
      padding-left: 10px;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
    }
    .projects__view-all:hover > i {
      padding-left: 15px;
    }
    .about__h2 {
      font-size: 2.1rem;
    }
    .about__card {
      width: 93%;
    }
    .about__card-name {
      font-size: 1.4rem;
      padding-top: 20px;
      width: 90%;
    }
    .about__card-text {
      font-size: 1.1rem;
      width: 90%;
    }
    .about__card-sub-text {
      font-size: 1.1rem;
      width: 90%;
    }
    .about__card-footer {
      font-size: 1.1rem;
      line-height: 1.3;
      width: 90%;
    }
    .about__smaller-screen-svg {
      display: block;
      position: absolute;
      width: 362px;
      height: 259px;
      left: -150px;
      top: 70px;
      transform: rotate(110deg);
    }
    .about__blue-svg {
      right: -100px;
      top: 20px;
      width: 362px;
      height: 259px;
    }
}
@media screen and (max-height: 760px) and (max-width: 1024px) {
  .hero__hello {
    font-size: 2.2rem;
  }
  .hero__name {
    font-size: 3.8rem;
  }
  .hero__description {
    padding-top: 12px;
    font-size: 1.1rem;
  }
  .name-svg {
    width: 190px;
    height: 222px;
    top: -20px;
  }
  .home__right-img-container {
    width: 291px;
    height: 354px;
  }
  .home__picture-circle {
    width: 283px;
    height: 302px;
  }
  .home__right-img-container::after{
    box-shadow: inset -1px -3px 4px 0 #E7E7E7;
  }
  .home__doMoreButtons {
      gap: 20px;
    padding-bottom: 25px;
    z-index: 10;
    }
    .doMoreButton {
      font-size: 1rem;
      padding: 15px 10px;
      text-align: center;
    }
    .doMoreButton:hover {
      padding: 15px 10px;
    }
}