:root {
  --dark-blue: #05141F;
  --white: #fff;
  --light-blue: #175887;
  --load-time: 500ms;
}


* {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  justify-content: center;
}


.main-wrapper {
 max-width: 1660px;
 width: 100%;
  background-color: #E7E7E7;
}
.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main-nav {
  width: 100%;
  max-width: 1660px;
  height: 100px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  animation: nav-load var(--load-time) ease-in;
}
#nav2 {
  animation: nav-2-load var(--load-time) ease-in;
}
.main-nav__social-icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 150px;
}
.social-icon {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 20px;
  background-color: var(--light-blue);
  transition: all .3s ease-in-out;
  text-decoration: none;
  position: relative;
  color: var(--white);
}
.social-icon:hover > span {
  font-size: 1.1rem;
  padding: 0 15px;
}
.social-icon > span {
  padding: 0;
  color: var(--white);
  font-size: 0;
  transition: all .3s ease-in-out;
}
.gmail {
  user-select: all;
}
.copy-text {
  position: absolute;
  background-color: var(--light-blue);
  bottom: -45px;
  width: 100px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  z-index: 5;
  display: none;
}

.social-icon-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--dark-blue);
  transition: all .2s ease-in-out;
}

.social-icon-img > img {
  width: 70%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.social-icon-img:hover {
background-color: var(--light-blue);
}
.social-icon-img:hover > img {
  filter: invert(100%) contrast(500%);
}
.main-nav__sections-container {
  display: flex;
  align-items: center;
  padding-right: 80px;
  gap: 10px;
}
.main-nav__section {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  padding: 10px;
  transition: all .2s ease-in-out;
  border-radius: 5px;
}
#main-nav__section-active {
  border-bottom: 3px solid var(--light-blue);
  background-color: var(--light-blue);
}
#main-nav__section-non-active:hover {
color: var(--light-blue);
}
.home__main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 200px);
  margin-top: 200px;
  position: relative;
}
.scroll-icon {
	position: relative;
  top: 70px;
  left: 50%;
	margin: 2em;
	width: 2em;
	height: 4em;
	border: .3em solid var(--light-blue);
	border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: scroll-load 16s ease-in infinite 3s;
}

.scroll-icon.ex-1 .wheel {
	position: absolute;
	left: 50%;
	top: 15%;
	width: .6em;
	height: .6em;
	background-color: var(--light-blue);
	transform: translate(-50%, 0);
	border-radius: .6em;
	animation: ex-1-wheel 1s ease-in-out infinite;
}
.scroll-tag {
  position: absolute;
  bottom: -25px;
  color: var(--light-blue);
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: .5px;
}

@keyframes scroll-load {
0% {
  opacity: 0;
}
15% {
  opacity: 1;
}
40% {
  opacity: 0;
}

100% {
  opacity: 0;
}

}
@keyframes ex-1-wheel {
	0% {
		transform: translate(-50%, 0);
		opacity: 0;
	}
	20%, 70% {
		opacity: 1;
	}
	90%, 100% {
		transform: translate(-50%, 150%);
		opacity: 0;
	}
}

.home__main-content-left {
  width: 830px;
  height: 100%;
  padding-top: 100px;
  padding-left: 145px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: auto;
  left: 0;
}
.hero {
  position: relative;
  margin: 0;
  padding-left: 0;
  text-align: left;
  animation: hero-load var(--load-time) ease-in;
}
.hero__hello {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--dark-blue);
  padding-bottom: 10px;
  padding-left: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 60%;
  transition: all .2s ease-in-out;
}
.hero__hello:hover {
  transform: scale(1.02);
}
.hero__name {
  font-size: 6.2rem;
  font-weight: 700;
  color: var(--dark-blue);
  margin: 0;
  padding-left: 0;
  text-align: left;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all .2s ease-in-out;
  width: 60%
}
.hero__name:hover {
 transform: scale(1.02);
}
.hero__description {
  padding-left: 5px;
  color: var(--dark-blue);
  padding-top: 15px;
  font-size: 1.25rem;
  line-height: 1.4;
  z-index: 2;
  cursor: pointer;
  width: 60%;
  transition: all .2s ease-in-out;
  animation: hero-load var(--load-time) ease-in;
}
.hero__description:hover {
  transform: scale(1.005);
}
.developer-text {
  color: var(--light-blue);
}
.name-svg {
  width: 280px;
  height: 312px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 250px;
  left: auto;
}
#blob2 {
  visibility: hidden;
}
.left__skills {
  bottom: 0;
  padding-bottom: 25px;
  margin-top: auto;
  padding-left: 5px;
  width: 60%;
  animation: hero-load var(--load-time) ease-in;
}
.left__skills > h2 {
font-size: 2.7rem;
font-weight: 500;
padding: 5px 0;
width: 24%;
border-bottom: 4px solid var(--light-blue);
}
.skills-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-blue);
  padding-top: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.icon > span {
  padding-top: 5px;
}
.icon:hover {
  transform: scale(1.05);
}
.icon:hover > i {
  color: var(--light-blue);
}
.icon > i {
  font-size: 3rem;
  color: var(--dark-blue);
}
.javascript-title {
  font-size: .95rem !important;
}
.home__main-content-right {
  height: 100%;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home__right-img-container {
  position: relative;
  width: 521px;
  height: 584px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.home__right-img-container:hover > img {
transform: scale(1.02);
}
.home__right-img-container > img {
  z-index: 5;
  width: 100%;
  transition: all .2s ease-in-out;
  animation: img-load var(--load-time) ease-in;
}
.home__picture-circle {
  width: 503px;
  height: 522px;
  position: absolute;
  z-index: 2;
  top: 70px;
  animation: img-background-load var(--load-time) ease-in;
}
.picture-svg {
  width: 488px;
  height: 352px;
  position: absolute;
  top: 20px;
  right: 20px;
  animation: img-background-load var(--load-time) ease-in;
}
#blob4 {
  visibility: hidden;
}
.projects {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.projects__main-content {
  height: calc(100% - 160px);
  margin-top: 160px;
  padding-left: 150px;
  width: 100%;
  max-width: 1660px;
  height: 100%;
  position: relative;
}
.projects__title {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--dark-blue);
}
.projects-container {
  width: 100%;
  height: 72%;
  margin-top: 20px;
  display: flex;
  gap: 10px;
 overflow-x: auto;
 flex-wrap: nowrap;
}
.projects-container::-webkit-scrollbar {
 height: 11px;
 cursor: pointer;
}
.projects-container::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 4px;
  cursor: pointer;
}
.projects-container::-webkit-scrollbar-track {
  background-color: #E7E7E7;
  cursor: pointer;
}

.project-card {
  height: 92%;
  width: 580px;
  background: var(--dark-blue);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
 margin: auto 30px;
transition: all .12s ease-in-out;
}


.project-card__title {
  color: var(--white);
  width: 85%;
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}
.project-card__img-container {
background-color: #E7E7E7;
width: 85%;
height: 50%;
margin-top: 30px;
border-radius: 10px;
transition: all .3s ease-in-out;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}
.project-card__img-container > img {
  width: 100%;
  height: 100%;
  object-position: center;
  transition: all .3s ease-in-out;
}

.project-card__language {
  color: var(--white);
  width: 85%;
  text-align: left;
  margin-top: 15px;
  font-weight: 500;
  position: relative;
}
#projectDescriptionClose {
position: absolute;
right: 0;
padding: 2px 5px;
border-radius: 5px;
background-color: var(--light-blue);
font-weight: 500;
cursor: pointer;
display: none;
font-size: 1.1rem;
transition: all .2s ease-in-out;
}
#projectDescriptionClose:hover {
  background-color: var(--white);
  color: var(--light-blue);
}
.project-card__description {
  color: var(--white);
  font-size: 1.25rem;
  width: 85%;
  text-align: left;
  margin-top: 20px;
  line-height: 1.4;
  max-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: all .3s ease-in-out;
}
.project-card__description-more {
 color: var(--white);
 padding-top: 5px;
 font-size: 1.2rem;
 font-weight: 500;
 cursor: pointer;
}
.project-card__description-more:hover {
  color: var(--light-blue);
}
.project-card__footer {
  display: flex;
  align-items: center;
  width: 85%;
  gap: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 20px;
}
.project-card__footer > a {
  text-decoration: none;
  color: var(--white);
}
.project-card__footer > a:hover {
  color: var(--light-blue);
}
.projects__view-all {
  position: absolute;
  left: 50%;
  text-decoration: none;
  color: var(--light-blue);
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 10px;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
}
.projects__view-all > i {
  padding-left: 10px;
  font-size: 1.06rem;
  transition: all .2s ease-in-out;
}
.projects__view-all:hover > i {
  padding-left: 15px;
}

/* ANIMATIONS ---- */
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes nav-2-load {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hero-load {
  0% {
    transform: translatex(-100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes img-load {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes img-background-load {
  0% {
    transform: translatex(100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
/* ANIMATIONS END---- */
@media screen and (max-height: 900px) {
  .main-nav {
    height: 75px;
  }
  .home__main-content {
    height: calc(100% - 125px);
    margin-top: 125px;
  }
  .hero__hello {
    font-size: 2.5rem;
  }
  .hero__name {
    font-size: 5.9rem;
  }
  .hero__description {
    font-size: 1rem;
  }
  .name-svg {
    width: 240px;
    height: 272px;
  }
  .left__skills > h2 {
  font-size: 2.5rem;
  }
  .icon {
    font-size: .9rem;
  }
  .icon > i {
    font-size: 2.6rem;
    color: var(--dark-blue);
  }
  .javascript-title {
    font-size: .8rem !important;
  }
  .home__right-img-container {
    width: 481px;
    height: 544px;
  }
  .home__picture-circle {
    width: 463px;
    height: 482px;
  }
  .picture-svg {
    width: 448px;
    height: 312px;
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .scroll-icon {
	width: 1.7em;
	height: 3.7em;
	border: .27em solid var(--light-blue);
	border-radius: 1.7em;
}

.scroll-icon.ex-1 .wheel {
	width: .55em;
	height: .55em;
	border-radius: .55em;
}
.scroll-tag {
  font-size: 1rem;
}
}